<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>New User</title>
</head>
<body>
<h1 style="font-size: 40px;" align="center">Create new User</h1>
<div align="center">
    <form action="#" th:action="@{/admin/save}" th:object="${user}" th:method="post">
        <p><label>
<!--            <input type="hidden" th:field="*{id}"/>-->
<!--            <input type="text" th:field="*{id}"/>-->
        </label></p>
        <p>Name: <label>
            <input type="text" th:field="*{name}"/>
        </label></p>
        <p>Lastname: <label>
            <input type="text" th:field="*{lastName}"/>
        </label></p>
        <p>age: <label>
            <input type="text" th:field="*{age}"/>
        </label></p>
        <p>password: <label>
            <input type="password" th:field="*{password}"/>
        </label></p>
        <p>Role: <label>
            <input type="checkbox" name="roles" th:each="role : ${allRoles}"
                   th:text="${role.role}"
                   th:value="${role.role}"
                   th:field="*{roles}" />
        </label></p>
        <p><input type="submit" value="Save"/> <input type="reset" value="Reset"/></p>
    </form>
    <h2 th:align="center"><a th:href="@{/logout}">Logout</a></h2>
</div>
</body>
</html>
