<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>
<table border="1" cellpadding="5" style="font-size: 45px" align=center>
    <thead>
    <tr>
        <th> ID</th>
        <th> Name</th>
        <th> Lastname</th>
        <th> Age</th>
        <th> Password</th>
        <th> Role</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td><span th:text="${user.id}">  </span></td>
        <td><span th:text="${user.name}">  </span></td>
        <td><span th:text="${user.lastName}">  </span></td>
        <td><span th:text="${user.age}"> </span></td>
        <td><span th:text="${user.password}"> </span></td>
        <td><span th:text="${user.roles}"> </span></td>
    </tr>
    </tbody>
</table>
<h2 th:align="center"><a th:href="@{/logout}">Logout</a></h2>
</body>
</html>