<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<h1 style="font-size: 40px;" align="center">Users</h1>
<table border="1" cellpadding="5" style="font-size: 45px" align=center>
    <thead>
    <tr>
        <th> ID</th>
        <th> Name</th>
        <th> Lastname</th>
        <th> Age</th>
        <th> Password</th>
        <th> Role</th>
        <th> Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${userList.empty}">
        <td colspan="2"> No Users Available</td>
    </tr>
    <tr th:each="user : ${userList}">
        <td><span th:text="${user.id}">  </span></td>
        <td><span th:text="${user.name}">  </span></td>
        <td><span th:text="${user.lastName}">  </span></td>
        <td><span th:text="${user.age}"> </span></td>
        <td><span th:text="${user.password}"> </span></td>
<!--        <tr th:each="role : ${user.roles}"-->
        <td><span th:text="${user.roles}"> </span></td>
        <td><a th:href="@{/admin/edit/{id}(id=${user.id})}">Edit</a>
            &nbsp;&nbsp;&nbsp;<a th:href="@{/admin/delete/{id}(id=${user.id})}">Delete</a>
        </td>
    </tr>
    </tbody>
</table>
<h1 th:align="center"><a href="/admin/new">New User</a></h1>
<h2 th:align="center"><a th:href="@{/logout}">Logout</a></h2>
</body>
</html>
